<a href="https://colab.research.google.com/github/HajarFazillah/24-1_NumericalAnalysis/blob/main/2_1condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 3
if a == 3:
  print('Good!')
  # print inside indent
  # if written same indent with "if"
  # error will be prompted

Good!

In [ ]:
b = 5
if b == 3:
  print('Great!') # bool True
else:
  print("END")  # bool False

END

In [ ]:
c ='E'
if c == 3 :
  print('Good!')
else:
  if c == 5:
    print('Great')
  else:
    print("end")

end

In [ ]:
# else..if // elif

c ='E'
if c ==3 :
  print('Good!')
elif c == 5:
    print('Great')
elif c == 'E':
  print("FINDING!") # code runs until here
else:
  print("done")

FINDING!

In [ ]:
import sys

In [ ]:
name = input("이름을 쓰시오!")
# to save the input, insert variable in front
# eg. name = input()

이름을 쓰시오!강하자

In [ ]:
# 1) 년도를 입력받는다.
input_value = input('년도:')

년도:ㅋㅋㅋ

In [ ]:
input_value

'ㅋㅋㅋ'

In [ ]:
if not input_value.isnumeric():
    print('!!!숫자로만 입력하세요!!!')
    sys.exit(0) # 프로그램 강제종료

In [ ]:
# 1) 년도를 입력받는다.
input_value = input('년도:')

if not input_value.isnumeric():
    print('!!!숫자로만 입력하세요!!!')
    sys.exit(0) # 프로그램 강제종료

년도:2024

In [ ]:
# 1) 년도를 입력받는다.
input_value = input('년도:')

if not input_value.isnumeric():
    print('!!!숫자로만 입력하세요!!!')
    sys.exit(0) # 프로그램 강제종료

year = int(input_value)
#  int = int(string) to change the string to integer data type

년도:2024

In [ ]:
print(year, type(year))

2024 <class 'int'>

In [ ]:
# 2) 년도가 짝수해인 경우 '짝수'를 출력하고 홀수해인 경우 '홀수'를 출력하시오
# hint : 짝수는 2로 나눈 나머지 값이 0인경우

In [ ]:
# 3) 년도에 해당하는 동물을 출력하세요.
# 년도를 12로 나눈 나머지가 0이면 원숭이
# 1-닭 2-개 3-돼지 4-쥐 5-소 6-호랑이 7-토끼 8-용 9-뱀 10-말 11-양
zodiac = ['원숭이','닭','개','돼지','쥐','소','호랑이','토끼','용','뱀','말','양']
mod = year % 12
print(zodiac[mod])

TypeError: not all arguments converted during string formatting

In [ ]:
# (3) 그냥(?) 답안
'''
mod = year % 12
if mod == 0:
    print('원숭이')
else:
    if mod == 1:
        print('닭')
    else:
           ... ...    이러지말고 여러 조건 쓸려면 elif를 쓰자
'''

mod = year % 12
if mod == 0:
    print('원숭이')
elif mod == 1:
    print('닭')
elif mod == 2:
    print('개')
elif mod == 3:
    print('돼지')
elif mod == 4:
    print('쥐')
elif mod == 5:
    print('소')
elif mod == 6:
    print('호랑이')
elif mod == 7:
    print('토끼')
elif mod == 8:
    print('용')
elif mod == 9:
    print('뱀')
elif mod == 10:
    print('말')
else:
    print('양')

In [ ]:
# Q1. 점수를 입력받아 학점을 부여하세요.
# A: 90점 이상, B: 80점 이상 90점 미만, ... ... , F: 60점 미만

input_value2 = input('점수를 입력하세요:')
score = int(input_value2)

In [ ]:
# Q2. 금액을 입력받아 이 금액을 최소한의 동전을 이용하여 바꿀 때, 각 동전의 갯수를 정하시오.
# 예) 3890원 - 500원 7개, 100원 3개, 50원 1개, 10원 4개

input_value3 = input('금액을 입력하세요:')
money = int(input_value3)

In [ ]:
n=0

while n<5:  # selagi n lagi kurang drpd 5, teruskan calculation
  print(n)
  n = n+1

  # can also be written n += 1
  # n: nombor lama, n+1: nombor baru

print('*'*10)
print(n)

0
1
2
3
4
**********
5

In [ ]:
n=0

while n<5:
  print(n)
  if n==4:    # nak buat calculation sampai 4, pastu nak stop
    print('done')
    break  # 제일 가까운 반복문 탈출하기, keluar one repeat loop
  n = n+1

print('*'*10)
print(n)

0
1
2
3
4
done
**********
4

In [ ]:
#cf. 넣을 곳이 없어서 여기에다 넣는 이야기

# a=3, b=5 일 때, a와 b의 값을 바꾸어라

a = 3
b = 5
print(a,b)

a, b = b, a   # nak switch tempat, in python can simple write like this
print(a,b)

3 5
5 3

In [ ]:
# cf. rather than tulis susah macam ni similar to C언어

a = 3
b = 5

temp = b
b = a
a = temp

print('a,b:',a,b)

a,b: 5 3