<a href="https://colab.research.google.com/github/HajarFazillah/24-1_NumericalAnalysis/blob/main/3_2dictionary_more.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# cf. list

In [ ]:
list1 = []

In [ ]:
a = 1
list1.append(a)
print(list1)

[1]

In [ ]:
a = 2
list1.append(a)
print(list1)

[1, 2]

In [ ]:
lissst=[]

In [ ]:
c = 1
d = c  # 이거 말이 안되나??
print(d)

lissst.append(d)
print(lissst)

1
[1]

In [ ]:
c = 2     # why does it not show? it just copy
lissst.append(d)
print(lissst)

[1, 1, 1]

# dictionary

In [ ]:
list2 = []
dic={}

In [ ]:
dic['a'] = 'apple'
list2.append(dic)
print(list2)

[{'a': 'apple'}]

In [ ]:
dic['a'] = 'abc'
list2.append(dic)
print(list2)

[{'a': 'abc'}, {'a': 'abc'}]

In [ ]:
# dictionary type 사용에 주의하자!! ( 덧. c언어의 pointer 내용에 해당 )

In [ ]:
list3 = []

In [ ]:
dic2 = {}  # 1번 주소
dic2['a'] = 'apple'
list3.append(dic2)
print(list3)

[{'a': 'apple'}]

In [ ]:
dic2 = {}  # 2번 주소, 완전 새로운 것, 위에 dic2와는 다른 것!
# walaupun tulis nama dic sama, dia akan tutup nama original and show yg baru
dic2['a'] = 'abc'
list3.append(dic2)
print(list3)

[{'a': 'apple'}, {'a': 'abc'}, {'a': 'abc'}, {'a': 'abc'}]

In [ ]:
# 아래와 같은 시도에 주의하자!

list4 = []

dic3 = {}
dic3['a'] = 'apple'
list4.append(dic3)
print(list4)

# clear() : bukan maknanya buat dic baru, but just clearkan content dalam dic
dic3.clear()  # dic3.clear()은 기존 주소를 사용하는 것이다.
dic3['a'] = 'abc'
list4.append(dic3)
print(list4)

[{'a': 'apple'}]
[{'a': 'abc'}, {'a': 'abc'}]

# 연습문제

In [ ]:
# 국어 수학 영어
# 100  30  50
#  90  80  50

# 1) 각 학생들의 과목별 점수들을 dictionary타입의 subject_score에 추가하고,
#    subject_score를 list타입의 total_set에 추가하시오.

# 2) 각 학생의 math점수만 출력하시오.

# 3) 각 학생들의 개인별 평균을 구하시오 : ave()함수 없음, sum()함수 있음!!

# 4) 각 과목별 평균을 구하시오.

In [ ]:
# todo: 1)~4)
total_set = []
subject_score = {}
subject_score['kor'] = 100
subject_score['math'] = 30
subject_score['eng'] = 50

total_set.append(subject_score)

In [ ]:
# 주의!!!
# (1) 잘못된 시도 Wrong trial

In [ ]:
total_set = []
subject_score = {}

subject_score['kor'] = 100
subject_score['math'] = 30
subject_score['eng'] = 50

total_set.append(subject_score)

In [ ]:
print(total_set)

[{'kor': 100, 'math': 30, 'eng': 50}]

In [ ]:
subject_score = {}
subject_score['kor'] = 90
subject_score['math'] = 80
subject_score['eng'] = 50

total_set.append(subject_score)

In [ ]:
print("총점수:", total_set)

총점수: [{'kor': 100, 'math': 30, 'eng': 50}, {'kor': 90, 'math': 80, 'eng': 50}]

In [ ]:
 # question 2

for student in total_set:
  print(student['math'])

30
80

In [ ]:
#3.
for student in total_set:
  avg_stud = (student['math']+student['kor']=student['eng'])/3

print(avg__stud)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-38-9b590af7f938>, line 3)

# 그냥답안  ----->모범답안 존재함

In [ ]:
# (1) 바른 접근 방법 Correct approach
total_set = []
subject_score = {}

subject_score['kor'] = 100
subject_score['math'] = 30
subject_score['eng'] = 50

total_set.append(subject_score)
print(total_set)

subject_score = {}
subject_score['kor'] = 90
subject_score['math'] = 80
subject_score['eng'] = 50

total_set.append(subject_score)
print("총점수:", total_set)

In [ ]:
# (2)
for personal_score in total_set:
    print(personal_score['math'])

In [ ]:
# (3)
for personal_score in total_set:
    personal_sum = personal_score['kor'] + personal_score['math'] +personal_score['eng']
    print("개인 합:", personal_sum)
    personal_ave = personal_sum / len(personal_score)
    print("개인별평균:", personal_ave)

In [ ]:
# (4)
kor_sum = 0
math_sum = 0
eng_sum = 0

for personal_score in total_set:
    kor_sum += personal_score['kor']
    math_sum += personal_score['math']
    eng_sum += personal_score['eng']

# print("kor sum:",kor_sum)
# print("math sum:",math_sum)
# print("eng sum:",eng_sum)

kor_ave = kor_sum/len(total_set)
math_ave = math_sum/len(total_set)
eng_ave = eng_sum/len(total_set)

print('kor_ave:', kor_ave)
print('math_ave:', math_ave)
print('eng_ave:', eng_ave)